# Gradle files
**/.gradle/

# Local configuration file (sdk path, etc)
**/local.properties

# IDE files
**/*.iml
**/.idea/

**/.DS_Store
**/*.log
**/captures/
**/build/

# buck
**/.okbuck/
**/buck-out/
**/.buckd/
**/BUCK
**/.buckconfig.local
**/.buckconfig

/ReactNativeDemo
