<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.github.piasy.playground.reproduce.taskswitchbug">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="piasy"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.pingplusplus.android.PaymentActivity"
                android:configChanges="orientation|screenSize"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity-alias
                android:name=".wxapi.WXPayEntryActivity"
                android:exported="true"
                android:targetActivity="com.pingplusplus.android.PaymentActivity"/>

        <activity
                android:name=".InviteActivity"
                android:label="InviteActivity"
                >
        </activity>
        <activity
                android:name=".HomeActivity"
                android:label="HomeActivity"
                >
        </activity>
        <activity
                android:name=".MockPaymentActivity"
                android:label="MockPaymentActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                >
        </activity>
    </application>

</manifest>